<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712374072720-lftttjk4q3c5pvh0mf3itpsksimpmg8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712374072720-lftttjk4q3c5pvh0mf3itpsksimpmg8v</string>
	<key>API_KEY</key>
	<string>AIzaSyBhS_QOiTd4ocaqWp6sVbevKk_E-COUnJo</string>
	<key>GCM_SENDER_ID</key>
	<string>712374072720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duhanboblanli.KAJU</string>
	<key>PROJECT_ID</key>
	<string>kaju-dfc80</string>
	<key>STORAGE_BUCKET</key>
	<string>kaju-dfc80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712374072720:ios:be1a2a6329f5d749066f15</string>
</dict>
</plist>